<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <title>Oberasoftware HomeAutomation Service</title>

    <link th:href="@{/images/favicon.ico}" rel="shortcut icon" href="/static/images/favicon.ico" title="Favicon"/>

    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>
    <script src="/webjars/jquery-ui/1.13.2/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="/webjars/jquery-ui/1.13.2/jquery-ui.min.css" />
    <link href="/webjars/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css"/>

    <script src="/webjars/handlebars/4.7.7/handlebars.min.js"></script>

    <script th:src="@{/javascript/ext/stomp.min.js}" src="/static/javascript/ext/stomp.min.js"></script>
    <script th:src="@{/javascript/ext/sockjs.min.js}" src="/static/javascript/ext/sockjs.min.js"></script>

    <script src="/webjars/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>

    <script th:src="@{/javascript/global.js}" src="/static/javascript/global.js"></script>
</head>


    <nav class="navbar navbar-expand-lg bg-body-tertiary" role="navigation" th:fragment="navigation (selectTab)">
        <div class="container-fluid">
<!--            <div class="navbar-header">-->
                <a class="navbar-brand" href="#"><img height="" th:src="@{/images/obera.png}"/></a>
<!--            </div>-->

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="navbar-nav me-auto my-2 my-lg-0">
                    <li class="nav-item"><a th:classappend="${selectTab == 'dashboard'} ? 'active'" class="nav-link" th:href="@{'/web'}">DashBoard</a></li>
                    <li class="nav-item"><a th:classappend="${selectTab == 'admin'} ? 'active'" class="nav-link" th:href="@{'/web/admin/things'}">Administration</a></li>
                    <li class="nav-item"><a th:classappend="${selectTab == 'trains'} ? 'active'" class="nav-link" th:href="@{'/web/trains'}">Model Trains</a></li>
                    <li class="nav-item"><a th:classappend="${selectTab == 'robots'} ? 'active'" class="nav-link" th:href="@{'/web/robots'}">Robotics</a></li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>

    <ul class="nav nav-tabs" th:fragment="adminTabs (selectTab)">
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'things'} ? 'active'" href="#" th:href="@{'/web/admin/things'}">Things</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'setup'} ? 'active'" href="#" th:href="@{'/web/admin/setup'}">Setup A Thing</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'sysconfig'} ? 'active'" href="#" th:href="@{'/web/admin/sysconfig'}">System Config</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'controllers'} ? 'active'" href="#" th:href="@{'/web/admin/controllers'}">Controllers</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'groups'} ? 'active'" href="#" th:href="@{'/web/admin/groups'}">Groups</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'rules'} ? 'active'" href="#" th:href="@{'/web/admin/rules'}">Rules</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'virtualitems'} ? 'active'" href="#" th:href="@{'/web/admin/virtualitems'}">Virtual Items</a></li>
    </ul>

    <ul class="nav nav-tabs" th:fragment="trainTabs (selectTab)">
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'locomotives'} ? 'active'" href="#" th:href="@{'/web/trains'}">Locomotives</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'turnouts'} ? 'active'" href="#" th:href="@{'/web/trains/turnouts'}">Turnouts</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'sensors'} ? 'active'" href="#" th:href="@{'/web/trains/sensors'}">Sensors</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'system'} ? 'active'" href="#" th:href="@{'/web/trains/system'}">System</a></li>
    </ul>

    <ul class="nav nav-tabs" th:fragment="robotTabs (selectTab)">
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'joints'} ? 'active'" href="#" th:href="@{'/web/robots'}">Joints</a></li>
        <li class="nav-item"><a class="nav-link" th:classappend="${selectTab == 'editor'} ? 'active'" href="#" th:href="@{'/web/robots/editor'}">Editors</a></li>
    </ul>

<div id="version" th:fragment="footer">
    <p class="text-center">&#169; Copyright 2024 Oberasoftware, version: <span>2.0</span></p>


</div>

</html>