<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head th:replace="includes/header :: header">
</head>
<body>

<script th:src="@{/js/editor.js}" src="/static/js/editor.js"></script>

<script id="chainContainer" type="x-tmp-mustache">
    <div class="card" style="width: 18rem;">
      <h5 class="card-header" style="height: 40px; padding: 10px 15px;">{{name}}</h5>
      <div class="card-body pt-1" id="{{id}}">

      </div>
    </div>
</script>

<script id="jointContainer" type="x-tmp-mustache">
    <div class="card border-dark mb-3 mt-1" style="width: 18rem;">
      <div class="card-header text-white bg-primary" style="height: 40px; padding: 10px 15px;">{{chainName}} - {{name}}</div>
      <div class="card-body">
            <ul class="list-group py-0" id="{{id}}">
            </ul>
      </div>
    </div>
</script>

<script id="jointsTemplate" type="x-tmp-mustache">
     <a href="#" class="list-group-item list-group-item-action" id="{{id}}" jointId="{{jointId}}" jointType="{{jointType}}" style="height: 40px; padding: 10px 15px;">{{name}} (ID: {{jointId}})</a>
</script>

<script id="jointPosition" type="x-tmp-mustache">
    <tr id="jointPosition-{{id}}" jointId="{{id}}">
        <td class="jid" jointId="{{id}}">{{id}}</td>
        <td class="pos">{{position}}</td>
        <td class="deg">{{degrees}}</td>
        <td class="action">
            <button type="button" class="btn btn-sm btn-secondary" id="jedit-{{id}}">Edit</button>
            <button type="button" class="btn btn-sm btn-secondary" id="jdelete-{{id}}">Delete</button>
        </td>
    </tr>
</script>

<script id="frame" type="x-tmp-mustache">
    <tr id="frame-{{id}}">
        <td class="fid" frameId="{{id}}">{{id}}</td>
        <td >{{frames}}</td>
        <td class="time">{{time}}</td>
        <td class="action" json="{{json}}">
            <button type="button" class="btn btn-sm btn-secondary" id="fedit-{{id}}">Edit</button>
            <button type="button" class="btn btn-sm btn-secondary" id="fdelete-{{id}}">Delete</button>
        </td>
    </tr>
</script>

<script id="motion" type="x-tmp-mustache">
    <tr id="motion-{{id}}" motionId="{{id}}">
        <td class="mid" motionId="{{id}}">{{id}}</td>
        <td>{{frames}}</td>
        <td class="action">
            <button type="button" class="btn btn-sm btn-secondary" id="medit-{{id}}">Edit</button>
            <button type="button" class="btn btn-sm btn-secondary" id="mdelete-{{id}}">Delete</button>
        </td>
    </tr>
</script>

<script id="sensor" type="x-tmp-mustache">
    <tr id="sensor-{{id}}" sensorId="{{id}}">
        <td>{{id}}</td>
        <td id="sensor-value-{{id}}">{{value}}</td>
    </tr>
</script>

<div class="container-fluid" id="chainContainer">
    <div class="row">
        <div class="col-md-2" id="joints">

        </div>
        <div class="col-md-7 mb-3 mt-1" id="editor">
            <div class="row mb-3 card">
                <div class="card-header bg-primary text-white">
                    Editor
                </div>
                <div class="card-body row mt-1 ml-1">
                    <div class="col-md-4">
                        <div class="card mr-1">
                            <div class="card-header" style="height: 40px; padding: 10px 15px;"><h6>Position of: <label id="servoTitle"></label></h6></div>
                            <div class="card-body row">
                                <div class="col-sm-4">
                                    <input id="positionSlider" type="text" data-slider-min="-180" data-slider-max="180" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
                                </div>
                                <div class="col-sm-8 small">
                                    <div class="form-group row">
                                        <label for="f">Degrees</label>
                                        <input type="text" class="form-control" id="degrees" placeholder="" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="f">Pos</label>
                                        <input type="text" class="form-control small" id="position" placeholder="" disabled>
                                    </div>
                                    <div class="form-group row">
                                        <label for="f">Mirror Grouped Joints:</label>
                                        <input type="checkbox" class="form-control small" id="sync">
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-secondary btn-sm torgueEnable" id="tEnable">On</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-secondary btn-sm torgueDisable" id="tDisable">Off</button>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="button" class="btn btn-primary btn-sm" id="add">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" style="height: 40px; padding: 10px 15px;">Joints</div>
                            <div class="card-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th scope="col">Joint Id</th>
                                        <th scope="col">Position</th>
                                        <th scope="col">Degrees</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody id="jointPositions">
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card mt-2 border-dark">
                            <div class="card-header" style="height: 40px; padding: 10px 15px;"><h6>Tools <label id="frameLabel"></label></h6></div>
                            <div class="card-body mb-1 mt-1 ml-1">
                                <form>
                                <div class="form-group row">
                                    <label for="time" class="col-sm-4 col-form-label">Time (in ms.)</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" size="10" id="time">
                                    </div>
                                </div>
                                </form>
                                <button type="submit" class="btn btn-primary btn-sm" id="saveFrame">Save Frame</button>
                                <button type="submit" class="btn btn-primary btn-sm" id="newFrame">New Frame</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row card border-dark">
                <div class="card-header text-white bg-primary">Key Frames</div>
                <div class="body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nr Joints</th>
                            <th scope="col">Time</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody id="keyFrames">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div class="col-md-3" id="motions">
            <div class="card row mt-1 mr-1 ml-1">
                <div class="card-header bg-primary text-white">
                    <h5>Animations</h5>
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-header" style="height: 40px; padding: 10px 15px;"><h6>Stored Animations</h6></div>
                        <div class="card-body">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Motion Id</th>
                                    <th scope="col"># Frames</th>
                                    <th scope="col">Actions</th>
                                </tr>
                                </thead>
                                <tbody id="motionList">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="card mt-1 border-dark" id="motionTool">
                        <div class="card-header" style="height: 40px; padding: 10px 15px;"><h6>Current Motion: <label id="motionLabel"></label></h6></div>
                        <div class="card-body">
                            <form>
                                <div class="form-group row">
                                    <label for="motionName" class="col-sm-4 col-form-label">Motion Name</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" size="10" id="motionName">
                                    </div>
                                </div>
                            </form>
                            <button type="submit" class="btn btn-primary btn-sm" id="saveMotion">Save Motion</button>
                            <button type="submit" class="btn btn-primary btn-sm" id="newMotion">New Motion</button>
                            <button type="submit" class="btn btn-primary btn-sm" id="runMotion">Run Motion</button>
                        </div>
                    </div>
                    <div class="card mt-1 border-dark" id="robotTool">
                        <div class="card-header" style="height: 40px; padding: 10px 15px;"><h6>Tools</h6></div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary btn-sm" id="torgueAllOn">Torgue On - All</button>
                            <button type="submit" class="btn btn-primary btn-sm" id="torgueAllOff">Torgue Off - All</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row mt-1 mr-1 ml-1">
                <div class="card-header bg-primary text-white">
                    <h5>Sensors</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sensor</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody id="sensors">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="includes/header :: footer"></div>

</body>
</html>