<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head th:replace="includes/header :: header">
</head>
<body>

<script th:src="@{/js/editor.js}" src="/static/js/editor.js"></script>

<script id="chain" type="x-tmpl-mustache">
<div class="row">
    <div class="card bg-light mb-3 w-100">
        <div class="card-header">{{name}}</div>
      <div class="card-body">

        <div id="{{id}}" class="row">
        </div>
      </div>
    </div>
</div>
</script>

<script id="jointChain" type="x-tmpl-mustache">
<div class="col-sm-6">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <div id="{{id}}" class="row">
        </div>
      </div>
    </div>
</div>
</script>


<script id="joint" type="x-tmpl-mustache">
    <div class="card mr-1 w-25">
      <div class="card-header text-white bg-primary "><b>{{name}} ({{id}})</b></div>
      <div class="card-body">
        <div id="{{id}}">
            <div class="row">
                <div class="col-sm-4">
                    <div class="small">-180</div>
                    <input id="{{sliderId}}" type="text" data-slider-min="-180" data-slider-max="180" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
                    <div class="small">180</div>
                </div>
                <div class="col-sm-8 small">
                    <div class="form-group">
                        <label for="f">Degrees</label>
                        <input type="text" class="form-control" id="degrees-{{id}}" placeholder="" disabled>
                    </div>
                    <div class="form-group">
                        <label for="f">Pos</label>
                        <input type="text" class="form-control" id="position-{{id}}" placeholder="" disabled>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>Torgue</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 ">
                            <button type="button" class="btn btn-primary btn-sm">On</button>
                        </div>
                        <div class="col-sm-4">
                            <button type="button" class="btn btn-secondary btn-sm">Off</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</script>

<div class="container-fluid" id="chainContainer">

</div>

<div th:replace="includes/header :: footer"></div>

</body>
</html>