<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<head th:replace="includes/header :: header">
</head>
<body>

<script th:src="@{/js/joints.js}" src="/static/js/joints.js"></script>

<script id="chain" type="x-tmpl-mustache">
<div class="row">
    <div class="card bg-light mb-3 w-100">
        <div class="card-header">{{name}}</div>
      <div class="card-body">

        <div id="{{id}}" class="row">
        </div>
      </div>
    </div>
</div>
</script>

<script id="jointChain" type="x-tmpl-mustache">
<div class="col-sm-6">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
        <div id="{{id}}" class="row">
        </div>
      </div>
    </div>
</div>
</script>

<script id="sensor" type="x-tmp-mustache">
    <tr id="sensor-{{id}}" sensorId="{{id}}">
        <td>{{id}}</td>
        <td id="sensor-value-{{id}}">{{value}}</td>
    </tr>
</script>

<script id="joint" type="x-tmpl-mustache">
    <div class="card mr-1 col">
      <div class="card-header row text-white bg-primary "><h6>{{name}} ({{id}})</h6></div>
      <div class="card-body row">
        <div id="{{id}}" jointType="{{jointType}}" state="ready">
            <div class="row">
                <div class="col-sm-4">
                    <input id="{{sliderId}}" jointid="{{id}}" type="text" data-slider-min="-180" data-slider-max="180" data-slider-step="1" data-slider-value="0" data-slider-orientation="vertical"/>
                </div>
                <div class="col-sm-8 small">
                    <div class="form-group row">
                        <label for="f">Degrees<a href="#" jointid="{{id}}" id="angle-edit-{{id}}"><i id="icon-{{id}}" class="material-icons md-16">edit</i></a><a href="#" jointid="{{id}}" id="angle-edit-stop-{{id}}"><i id="stop-icon-{{id}}" class="material-icons md-16"></i></a>
                        </label>
                        <input type="text" class="form-control" id="degrees-{{id}}" placeholder="" disabled>
                    </div>
                    <div class="form-group row">
                        <label for="f">Pos</label>
                        <input type="text" class="form-control" id="position-{{id}}" placeholder="" disabled>
                    </div>
                    <div class="form-check row">
                        <input type="checkbox" class="form-check-input small" id="sync-{{id}}">
                        <label class="form-check-label" for="x">Sync</label>
                    </div>
                    <div class="row">
                        <div class="custom-control custom-switch">
                          <input type="checkbox" class="custom-control-input" id="tToggle-{{id}}" jointid="{{id}}">
                          <label class="custom-control-label" for="tToggle-{{id}}">Torgue</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</script>
<div th:replace="includes/header :: navigation"/>

<div class="container-fluid" id="main">
    <div class="row">
        <div class="col-md-10">
            <div class="container-fluid" id="chainContainer">

            </div>
        </div>
        <div class="col-md-2" id="motions">
            <div class="card row mt-1 mr-1 ml-1">
                <div class="card-header bg-primary text-white">
                    <h5>General Controls</h5>
                </div>
                <div class="card-body">
                    <div class="card mt-1 border-dark" id="robotTool">
                        <div class="card-header" style="height: 40px; padding: 10px 15px;"><h6>Tools</h6></div>
                        <div class="card-body">
                            <button type="submit" class="btn btn-primary btn-sm" id="torgueAllOn">Torgue On - All</button>
                            <button type="submit" class="btn btn-primary btn-sm" id="torgueAllOff">Torgue Off - All</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card row mt-1 mr-1 ml-1">
                <div class="card-header bg-primary text-white">
                    <h5>Sensors</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Sensor</th>
                            <th scope="col">Value</th>
                        </tr>
                        </thead>
                        <tbody id="sensors">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="includes/header :: footer"></div>

</body>
</html>