<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head th:replace="~{includes/header :: header}">
</head>
<body style="height:100%;">
<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script id="ruleTemplate" type="text/x-handlebars-template">
    <a href="/web/admin/rules/{{controllerId}}/{{ruleId}}" ruleId="{{ruleId}}" class="list-group-item ruleButton">{{ruleId}}</a>
</script>


<script th:src="@{/javascript/blocks.js}" src="/static/javascript/blocks.js"></script>

<div class="container-fluid" style="height:100%;" th:attr="controllerId=${controllerId},ruleId=${ruleId}" id="root">
    <div th:replace="~{includes/header :: navigation (selectTab='admin')}"></div>

    <div th:replace="~{includes/header :: adminTabs (selectTab='rules')}"></div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="errorLabel">Blockly scripting error</h4>
                </div>
                <div class="modal-body">
                    <p id="errorReason"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 100%;">
        <div class="col-md-2">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Controllers</h3>
                        </div>
                        <div class="card-body">
                            <div class="list-group" th:each="controller: ${controllers}">
                                <a href="#" th:href="@{'/web/admin/rules/'+${controller.controllerId}}" class="list-group-item" th:classappend="${selectedController != null and selectedController == controller.controllerId} ? 'active'" th:text="${controller.controllerId}">Text</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card" th:if="${selectedController}">
                        <div class="card-header d-flex justify-content-start">
                            <h3 class="card-title flex-grow-1">Rules</h3>
                            <div class="btn-group pull-right">
                                <a th:href="@{'/web/admin/rules/' + ${selectedController} + '/new'}" href="#" class="btn btn-default btn-sm" title="New Rule"><i class="bi bi-file-earmark-plus-fill"></i></a>
                            </div>
                        </div>
                        <div class="card-body" >
                            <div class="list-group" id="rules">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-10" style="height:100%;">
            <div class="row">
            <div class="text-right" style="height: 3%;">
                <button type="button" class="btn btn-default deleteRule" id="deleteRule">Delete</button>
                <button type="button" class="btn btn-default resetRule" id="resetRule">Reset</button>
                <button type="button" class="btn btn-primary saveRule" th:attr="controllerId=${selectedController}" id="saveRule">Save</button>
            </div>
            </div>
            <div class="row" style="height: 95%; ">
                <div class="col-12" id="editor" th:attr="controllerId=${selectedController}">
                    <div id="blocklyArea" style="height: 95%; ">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{includes/header :: footer}"></div>
</div>

<xml id="toolbox" style="display: none">
    <category name="Automation" id="defaultToolbox">
        <block type="rule"></block>
        <block type="getThingValue"></block>
        <block type="setThingValue"></block>
        <block type="setThingValues"></block>
        <block type="setAttributeValue"></block>

        <block type="attribute_text"></block>
        <block type="attribute"></block>

        <block type="math_number"></block>
        <block type="text_value"></block>

        <block type="onoff"></block>
        <block type="movement"></block>
        <block type="switch_item"></block>
    </category>
    <category name="Train Automation">
        <block type="trainFunction"></block>
    </category>
    <category name="Logic">
        <block type="controls_if"></block>
        <block type="logic_compare"></block>
        <block type="logic_operation"></block>

        <block type="math_arithmetic"></block>
    </category>
    <category name="Things" id="ItemToolbox">
    </category>
    <category name="Motions" id="MotionToolBox">
    </category>
    <category name="Triggers" id="Triggers">
        <block type="thingTrigger"></block>
        <block type="systemTrigger"></block>
        <block type="dayTimeTrigger"></block>
    </category>
</xml>

<div id="blocklyDiv" style="position: absolute"></div>

<script th:src="@{/javascript/rules.js}" src="/static/javascript/rules.js"></script>

<div class="hide" th:if="${rule}" id="editRule" th:attr="ruleId=${rule.id}" th:utext="${rule.properties.Blockly}">
</div>

</body>
</html>