<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head th:replace="~{includes/header :: header}">
</head>
<body>
<script th:src="@{/javascript/widget.js}" src="/static/javascript/widget.js"></script>
<script th:src="@{/javascript/widgetForm.js}" src="/static/javascript/widgetForm.js"></script>
<script th:src="@{/javascript/dashboard.js}" src="/static/javascript/dashboard.js"></script>
<script id="labelTemplate" type="text/x-handlebars-template">
    <li class="card" index="{{index}}" id="{{widgetId}}">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <label>{{name}}</label>
                </div>
                <div class="col-3">&nbsp;</div>
                <div class="col-2">
                    <label controllerId="{{controllerId}}" thingId="{{thingId}}" attribute="{{label}}" widgetType="label">{{value}}</label>
                </div>
                <div class="col-1">
                    <label>{{unit}}</label>
                </div>
                <div class="col-1">&nbsp;</div>
                <div class="col-2">
                    <a href="#" widgetId="{{widgetId}}" class="btn btn-default btn-sm removeWidget" title="Deleted widget"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>
    </li>
</script>
<script id="sliderTemplate" type="text/x-handlebars-template">
    <li class="card" index="{{index}}" id="{{widgetId}}">
        <div class="card-body">
            <div class="row">
                <div class="col-4">
                    <label>{{name}}</label>
                </div>
                <div class="col-5">
                    <div class="row">
                        <div class="col-1">
                            <label class="form-text">{{min}}</label>
                        </div>
                        <div class="col-8">
                            <input controllerId="{{controllerId}}" thingId="{{thingId}}" attribute="{{label}}" widgetType="slider" type="range" class="form-range" min="{{min}}" max="{{max}}" id="{{widgetId}}_position">
                        </div>
                        <div class="col-1">
                            <label class="form-text">{{max}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-1">
                    <label>{{unit}}</label>
                </div>
                <div class="col-2">
                    <a href="#" widgetId="{{widgetId}}" class="btn btn-default btn-sm removeWidget" title="Delete widget"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>
    </li>
</script>
<script id="switchTemplate" type="text/x-handlebars-template">
    <li class="card" index="{{index}}" id="{{widgetId}}">
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <label>{{name}}</label>
                </div>
                <div class="col-3">&nbsp;</div>
                <div class="col-3 form-switch">
                    <input type="checkbox" data-size="small" class="form-check-input" role="switch" thingId="{{thingId}}" controllerId="{{controllerId}}" attribute="{{label}}" widgetType="switch" id="{{widgetId}}_switch"/>
                </div>
                <div class="col-1">&nbsp;</div>
                <div class="col-2">
                    <a href="#" widgetId="{{widgetId}}" class="btn btn-default btn-sm removeWidget" title="Deleted widget"><span class="glyphicon glyphicon-trash"></span></a>
                </div>
            </div>
        </div>
    </li>
</script>
<script id="colorTemplate" type="text/x-handlebars-template">
    <li class="well well-sm widget" index="{{index}}" id="{{widgetId}}">
        <div class="row">
            <div class="col-xs-3">
                <label>{{name}}</label>
            </div>
            <div class="col-xs-3">&nbsp;</div>
            <div class="col-xs-3">
                <input type="text" name="{{itemId}}_color" itemId="{{itemId}}"/>
            </div>
            <div class="col-xs-1">&nbsp;</div>
            <div class="col-xs-2">
                <a href="#" widgetId="{{widgetId}}" class="btn btn-default btn-sm removeWidget" title="Deleted widget"><span class="glyphicon glyphicon-trash"></span></a>
            </div>
        </div>
    </li>
</script>

<script id="containerTemplateGrid" type="text/x-handlebars-template">
    <div class="row" id="{{containerId}}">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header text-bg-primary-subtle d-flex justify-content-start">
                    <h3 class="flex-grow-1">{{name}}</h3>
                    {{#if links}}
                    <div>
                        <a href="#" containerId="{{containerId}}" class="btn btn-default btn-sm removeContainer" title="Delete container">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#dataModal" data-id="{{containerId}}" class="btn btn-default btn-sm addWidget" title="Add a Widget">
                            <i class="bi bi-file-earmark-plus-fill"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
                <div class="card-body" currentColumn="1" containerId="{{containerId}}" mode="grid">
                    <div class="row">
                        <div class="col-md-4">
                            <ul class="panel-body list-unstyled sortable" column="1" containerId="{{containerId}}" next="2">
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="panel-body list-unstyled sortable" column="2" containerId="{{containerId}}" next="3">
                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="panel-body list-unstyled sortable" column="3" containerId="{{containerId}}" next="1">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="containerTemplateList" type="text/x-handlebars-template">
    <div class="container-fluid" id="{{containerId}}" containerId="{{containerId}}" mode="list">
            <div class="card">
                <div class="card-header text-bg-primary-subtle d-flex justify-content-start">
                    <div class="flex-grow-1"><h4>{{name}}</h4></div>
                    {{#if links}}
                    <div>
                        <a href="#" containerId="{{containerId}}" class="btn btn-default btn-sm removeContainer" title="Delete container">
                            <i class="bi bi-trash"></i>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#dataModal" data-id="{{containerId}}" class="btn btn-default btn-sm addWidget" title="Add a Widget">
                            <i class="bi bi-file-earmark-plus-fill"></i>
                        </a>
                    </div>
                    {{/if}}
                </div>
                <div class="card-body">
                    <ul class="panel-body list-unstyled sortable" column="0" containerId="{{containerId}}">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</script>
<script id="tabTemplate" type="text/x-handlebars-template">
    <li role="nav-item">
        <a id="dashlink_{{dashboardId}}" dashboardId="{{dashboardId}}" class="tab nav-link {{tabClass}}" weight="{{weight}}" href="#">{{dashboardName}}</a>
    </li>
</script>
<script id="addDashButtonTemplate" type="text/x-handlebars-template">
    <li role="nav-item">
        <a class="nav-link addTab" href="#add"><i class="bi bi-file-earmark-plus-fill"></i></a>
    </li>
</script>

<div class="container-fluid">

    <div th:replace="~{includes/header :: navigation (selectTab='dashboard')}"></div>

    <div class="row">
        <div class="col-md-11">
            <ul class="nav nav-tabs" id="dashboards">
            </ul>
        </div>
        <div class="col-md-1">
            <a type="button" class="btn btn-sm btn-primary" href="/web/admin/setup">Add Thing</a>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div th:replace="~{includes/widgetForm :: widgetForm}"></div>

            <div th:replace="~{includes/containerForm :: containerForm}"></div>

            <div class="card" id="dashboard">
                <div class="card-header text-bg-info-subtle d-flex justify-content-start">
                    <div class="flex-grow-1"><h4 id="dashboardTitle"></h4></div>
                    <div class="">
                        <a href="#" class="btn btn-default btn-sm removeDashboard" title="Delete Dashboard"><i class="bi bi-trash"></i></a>
                        <a href="#" data-toggle="modal" data-target="#containerModal" data-id="" class="btn btn-default btn-sm addContainer" title="Add a Container"><i class="bi bi-file-earmark-plus-fill"></i></a>
                    </div>
                </div>
                <div class="card-body" id="container">
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{includes/header :: footer}"></div>
</div>

</body>
</html>